body{
   margin: 0px;
    text-align: center;
	width: 100%;
}

#head_index{
	box-sizing:border-box;
    width: 100%;
	height: 100%;
	text-align: center;
    background: #15b5e9 ;
    float: left;
}

#head_img_index{
    margin-top: 50px;
}

#myname{
    text-align: center;
    font-size: 25px;
    font-family:"宋体";
    font-weight: bold;
    color: white;
}
#zuo-you-ming{
	color: white;
}

#xuan-xiang-img{
	width: 100%;
	margin-top: 30px;
	text-align: center;
	float: left;
}

.tian{
	width: 33.3% ;
	text-align: center;
	float: left;
}
.img-xuan-xiang{
	width: 100px;
	height: 100px;
}

#xuan-xiang-name{
	width: 100%;
	text-align: center;
	float: left;
	margin-top: 10px;
}

.song{
	width: 33.3%;
	text-align: center;
	float: left;
}
.bt-xuan-xiang-name{
	width: 60px;
	font-size: 20px;
	background-color: transparent;
	border: none;
}
#content-index{
	box-sizing:border-box;
    float: left;
	width: 70%;
    height: 100%;
}